.description {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400px;
}
.title {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: 20em;
  font-size: 45px;
  z-index: 100;
}
.navigationMenu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  position: relative;
  bottom: 50em;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.applyNow {
    background: none;
    border: 1px solid white; 
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 10em; 
    color: black;
    padding: 1em 3em;
    
}
.program {
  border-bottom: 3px solid #fff400;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #003c71; 
}
.program:hover {
  border-bottom: 3px solid #003c71;
  cursor: pointer;
}
.contact {
  border-bottom: 3px solid #fff400;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #003c71; 
}
.contact:hover {
  border-bottom: 3px solid #003c71;
  cursor: pointer;
}

.goBack {
  color: #767676;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}
.nextUp {
  color: #767676;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}
.disclamer {
  text-align: center;
  color: #767676;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.4px;
}
.programName {
  color: #296cf6;
  border-bottom: 3px solid #fff400;
  width: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: relative;
  bottom: 95em;
  left: 20.6em;
}
.programName:hover {
  border-bottom: 3px solid #003c71;
  cursor: pointer;
  color: #003c71;
}
.adobeLink {
  border-bottom: 3px solid #fff400;
  color: #296cf6;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.adobeLink:hover {
  color: #003c71;
  border-bottom: 3px solid #003c71;
}
.gradJobs {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #003c71;
  text-align: left;
  position: relative;
  bottom: 46em;
  left: 10.5em;

}
.description {
  font-size: 18px;
  color: #003c71;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: 103em;
  left: 23.5em;
  line-height: 1.25;
}
.jobOppro {
  font-size: 18px;
  color: #003c71;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: 102em;
  left: 23.5em;
}
.jobList {
  font-family: Arial, Helvetica, sans-serif;
  color: #003c71;
  font-size: 18px;
  position: relative;
  bottom: 100em;
  left: 22em;
  line-height: 2.5;
}
.gradOutcomes {
  font-family: arial;
  color: #767676;
  font-size: 32px;
  position: relative;
  bottom: 55em;
  left: 12em;
}
.gradEmployment {
  color: #003c71;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: relative;
  bottom: 98em;
  left: 21em;
  line-height: 2.25;
}
.resultsText {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #003c71;
  position: relative;
  bottom: 97em;
  left: 21em;
}
.studentOutcomes {
  border-bottom: 3px solid #fff400;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #296cf6; 
}
.studentOutcomes:hover {
  border-bottom: 3px solid #003c71;
  color: #003c71;
}
.programList {
  color: #003c71;
  font-size: 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.programList:hover {
  color: #296cf6;
}
.jobsList {
    color: #296cf6;
    font-size: 16px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.aboutProgram {
  color: #003C71;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  position: relative;
  bottom: 3.4em;
  left: 5em;
}
.mainImage {
  position: relative;
  bottom: 24.2em;
  right: 1em;
}
.aboutprogram {
  position: relative;
  bottom: 28em;
  left: 5em;
  line-height: 2;
}
.pageNav {
  position: relative;
  bottom: 104em;
  left: 21.5em;
}
.nextUp {
  position: relative;
  left: 53em;
  bottom: 1.9em;
}
.disclamer {
  position: relative;
  bottom: 115em;
  left: 11.5em;
  font-weight: bolder;
}
.infoSection {
  position: relative;
  bottom: 26em;
  left: 4.5em;
}
.infoTitle {
  color: #003c71;
}
.infoDescription {
  font-size: 16px;
  color: #003C71;
}
.dateList {
  color: #296cf6;
  line-height: 1.75;
  position: relative;
  right: 1.6em;
}

.bcitInfo {
  color: #003C71;
}
.bcitSessions {
  color: #296cf6;
}
.programOverview {
  position: relative;
  bottom: 25em;
  left: 4.2em;
}


