/* Color Palette for the BCIT Website */

:root {
    --BluehyperLink: #296cf6; 
    --Yellowunderline: #fff400; 
    --BlueText: #003c71; 
    --GrayText: #5A5A5A; 
    --white: #fff; 
    --lightGray: #767676;
    
}